<div class="container myh-100">
  <div class="row h-100 align-items-center justify-content-center">
    <div class="box-wrap col-12 col=sm-8 col-md-7 shadow-wrap text-center">

      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" *ngIf="!id">
        <h4>Reset your password</h4>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="f.email.errors && f.email.errors.required">Email is required.</mat-error>
          <mat-error *ngIf="f.email.errors && f.email.errors.email">Email is not valid.</mat-error>
        </mat-form-field>

        <button mat-raised-button color="accent">Accent</button>
      </form>

      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" *ngIf="id">
        <h4>Reset your password</h4>

        <mat-form-field appearance="outline">
          <mat-label>Code</mat-label>
          <input matInput placeholder="Code" formControlName="code">
          <mat-hint>Check your email and take code.</mat-hint>
          <mat-error *ngIf="p.code.errors && p.code.errors.required">Code is required.</mat-error>
          <mat-error *ngIf="p.code.errors && p.code.errors.badCode">Bad code.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password" formControlName="password">
          <mat-error *ngIf="p.password.errors && p.password.errors.required">Password is required.</mat-error>
          <mat-error *ngIf="p.password.errors && p.password.errors.minlength">Password must have 6 chars.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm password</mat-label>
          <input matInput type="password" placeholder="Confirm password" formControlName="confirmPassword">
          <mat-error *ngIf="p.confirmPassword.errors && p.confirmPassword.errors.required">Confirm password is required.
          </mat-error>
          <mat-error *ngIf="p.confirmPassword.errors && p.confirmPassword.errors?.matchPassword">Password dont match.</mat-error>
        </mat-form-field>

        <button mat-raised-button color="accent">Accent</button>
      </form>

    </div>
  </div>
</div>